asn1crypto==0.24.0
beautifulsoup4==4.6.3
cachetools==2.1.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.3.1
Flask==1.0.2
google==2.0.1
google-auth==1.5.1
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.0
psycopg2==2.7.6
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyJWT==1.6.4
requests==2.20.0
rsa==4.0
six==1.11.0
SQLAlchemy==1.2.13
urllib3==1.24.1
Werkzeug==0.14.1
